.footer{
    width: 100%;
    text-align: center;
    font-size: 0.25rem;
}
.footer a{
    color: #757575;
    margin: 0 0.2rem;
}
.footer .active-language{
    color: #535353;
}
.confirm{
    width: 100%;

    padding: 0.5rem 0;
}
.confirm p{
    margin: 0.2rem 0;
}